* {margin:0;padding:0;box-sizing:border-box;}

body{
	color:#222;
	font-family: "Avenir", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size:16px;
}

nav{
    padding: 20px;
    float: right;
    width: 100%;
    text-align: center;
    line-height: 20 px;
}

header{
    text-align: center;
    background: url(../images/flowers.jpg);
    background-size: cover;
    color: #fff;
    padding: 10em 0 0;
    height: 90vh;
}

h1{
	font-size:4em;
	letter-spacing: 15px;
	margin-bottom: .5em;
}

h2{
	font-size:2em;
	/* margin-left: 2em; */
	padding-top: 1em;
	padding-bottom: 1em;
}

h3{
	margin-top:1em;
	margin-bottom: 1em;
}

nav a{
	margin-right:75px;
	margin-left: 75px;
}

a{
	color: #888;
	text-decoration: none;

}

a:hover{
color: #000000
}

p{
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
	padding-bottom: 50px;
	text-align: left;
    padding: 20px;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#about {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding-top: 2em;
}

#about img{
    float: left;
    width: 50%;
}

#work {
    max-width: 1200px;
    margin: auto;
}

#work p {
    width: 75%;
    float: center;
}

.industrial-image {
    width: 33.33%;
    float: left;
    margin: 0;
    padding: 2em;
}

#happiness {
    width: 75%;
}

#Fashtag {
    width: 75%;
}

@media only screen and (max-width: 860px) {
	.industrial-image {
		width:100%;
	}
}
@media only screen and (max-width:950px) {
	a {
		color: #fff;
    }
}
