* {margin:0;padding:0;box-sizing:border-box;}
body {
	color:#222;
	font-family: Avenir;
	font-size:20px;
}
nav {
    float: right;
    width: 100%;
    text-align: center;
}
#intro{
	text-align: center;
	background: url(../images/flowers.jpg);
	background-size: cover;
	color: #fff;
	padding: 10em 0 0;
	height: 90vh;
}
h1 {
	font-size:4em;
	letter-spacing: 15px;
	/* margin-bottom: .5em; */
}
nav a {
	margin-right:75px;
	margin-left: 75px;
}

a {
	color: #888;
	text-decoration: none;
}

footer {
	padding-bottom: 50px;
	text-align: left;
}
